{% extends 'base.html' %}

{% block content %}


<main id="container">
    <article>
    <h2>{% block title %} {{ movie['title'] }} {% endblock %}</h2>
<!--    <span class="badge badge-primary">{{ movie['created'] }}</span>-->

    <br>
    <div id="plot">
        <br>
        <p>{{ movie['plot'] }}</p>
        <details>
            <summary>GPT-3 Prompt details</summary>
            <p>Genre: {{ movie['genre'] }}</p>
            <p>Characters: {{ movie['characters'] }}</p>
            <p>Tone: {{ movie['tone'] }}</p>
            <p>Plot length: {{ movie['plot_length'] }}</p>
            <p>Iterations: {{ movie['iterations'] }}</p>
        </details>
    </div>
    <br>


<!--    <div id="cast">-->
<!--        <b>Director:</b><br>-->
<!--        <b>Cast:</b><br>-->

<!--    </div>-->
    </article>
</main>

<aside>
    <article>
        <img id="photo" src="{{ url_for('static', filename= 'res/img/casino.jpg') }}">
    </article>
    <br>
    <div class="middle">
    <table class="middle">
        <tr>
            <td><div id="a">
                <i><img id="imdb" src="{{ url_for('static', filename= 'res/icon/imdb.svg') }}" width="auto" height="30"></i>
                </div>
            </td>
            <td>
                {{ movie['imdb_rating'] }}
            </td>
        </tr>
        <tr>
            <td>
                <div id="b"><i>
                <img id="tomato" src="{{ url_for('static', filename= 'res/icon/tomatoes.jpg') }}" width="auto" height="50">
                </i>
                </div>
            </td>
            <td>
                 {{ movie['rt_rating'] }}
            </td>
    </table>
    </div>
</aside>
{% endblock %}
